<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @buying.name %>
</p>

<p>
  <strong>Price:</strong>
  <%= @buying.price %>
</p>

<p>
  <strong>Date:</strong>
  <%= @buying.date %>
</p>

<%= link_to 'Edit', edit_buying_path(@buying) %> |
<%= link_to 'Back', buyings_path %>
